<div class="blogpostCard">
    <div class="blogpostTitle">
        <h2>{{title}}</h2>
        <h4>Posted by {{user.username}} on {{formatDate dateCreated}}</h3>
    </div>
    <p>{{content}}</p>
</div>