<section class="pageTitle">
    <h1>The Tech Blog</h1>
</section>
<div class="blogpostCard">
    <div class="blogpostTitle">
        <h2>Why this tech is awesome!</h2>
        <h4>Posted by William on 8/11/2021</h3>
    </div>
    <p>This is where the content of the blog post will go. It can include links to different sources. But mostley it will be about the authors opinions.</p>
</div> 