<section class="pageTitle">
    <h1>The Tech Blog</h1>
</section>
<div class="blogpostCard">
    <div class="blogpostTitle">
        <h2>{{blogpost.title}}</h2>
        <h4>Posted by {{blogpost.user.username}} on {{ formatDate blogpost.dateCreated}}</h3>
    </div>
    <p>{{blogpost.content}}</p>
</div>