* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --lightColor: #eae1d2;
    --darkColor: #101024;
    --midColor: #a8a6a7;
    --darkerMidColor: #666666;
    --almostWhite: #e6e6e6;
}

html {
    background-color: var(--lightColor);
}

nav {
    display: flex;
}

header {
    background-color: var(--darkColor);
}

a {
    color: var(--lightColor);
    text-decoration: none;
    font-weight: 400;
    margin-left: 60px;
}

.pageTitle {
    background-color: var(--darkColor);
    padding: 15px 0 35px 0;
}

h1 {
    display: inline;
    margin: 0;
    margin-left: 60px;
    padding: 5px 15px;
    border-radius: 8px;
    color: var(--darkColor);
    background-color: var(--lightColor);
    font-weight: 700;
    box-shadow: 5px 5px var(--midColor);
}

.blogpostCard {
    margin: 24px 50px;
    border: solid 4px var(--darkColor);
    border-radius: 4px;
}

.blogpostTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--darkColor);
}

h2, h4 {
    margin: 6px 20px 10px 20px;
    color: var(--lightColor);
    font-weight: 400;
}

h4 {
    font-size: .9rem;
}

p {
    margin: 20px 20px 10px 20px;
    font-size: 1.1rem;
}

.dashView {
    margin: 24px 50px;
    border: solid 4px var(--darkerMidColor);
    border-radius: 10px;
    background-color: var(--darkerMidColor);
}

.dashView .blogpostTitle {
    background-color:initial;
}

.dashView .blogpostTitle h2 {
    color: var(--almostWhite);
    margin-bottom: 6px;
}

#newPostBtn {
    margin: 0 auto;
    display: block;
    background-color: var(--darkColor);
    border: none;
    color: var(--almostWhite);
    font-size: 1.8rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color .3s;
}

#newPostBtn:hover {
    background-color: var(--darkerMidColor);
    transition: background-color .3s;
}